nav{ padding-bottom: 50px; margin-top:-10px; width:1370px; 
	margin-left:-8px; background-image:url(new.jpg);
}
nav ul{margin-top:-55px;}
nav ul li{
	list-style:none; float:right;margin:0.5%; padding:1%;   
}
nav ul li a{
	color:black;
    background-color:white;
    border-radius:15px 15px 15px 15px;
    text-decoration: none; display:block; width:100px;
    height:25px; text-align:center;
    padding-top:5px;
}

.g1{
 
	 font-size:50px; color:#FBF7D5;
}
body{
	
	background-image:url(new.jpg)

}
.g2{ font-size:70px; color:#FBF7D5; 
} 
.g3{ font-size:70px; color:#FBF7D5;  
}
.g4{; font-size:70px; color:#FBF7D5;  }
header{
	margin-top:170px;
	margin-left:300px;
}
/*Below code belongs to portfolio.html*/

.j1{
	background-image: url(itachi.JPG);
	background-size:100%;
	width:350px;
	height:250px;
}
.j2{
	background-image: url(ghost.JPG);
	background-size:100%;
	width:350px;
	height:250px;
}
.j3{
	background-image: url(untitled.PNG);
	background-size: 122%;
	width:350px;
	height:250px;
}
.j4{
    background-image: url(sun.JPG);
	background-size:100%;
	width:350px;
	height:250px;
}
.j5{
	 background-image: url(scene.JPG);
	background-size:100%;
	width:350px;
	height:250px;
}
.j6{
	 background-image: url(set.JPG);
	background-size:100%;
	width:350px;
	height:250px;
}
.j7{
	float:right;
	display:flex;
	flex-wrap: wrap;
	margin-left:100px;
}

/*Below code belongs to contact.html*/
form{
	width:500px;
	color:#FBF7D5;
	margin-left:700px;
	margin-top:-484px;
	
}
.r1{
	color:#FBF7D5;
	font-size:30px;

}
.r2{
	color:#FBF7D5;
	font-size:22px;
}
section{
	width:400px;
	margin-left:250px;
	margin-top:50px

}