nav{ padding-bottom: 50px; margin-top:-10px; width:1370px; 
	margin-left:-8px; background-color:#990011FF; 
}
nav ul{margin-top:-55px;}
nav ul li{
	list-style:none; float:right;margin:0.5%; padding:1%;   
}
nav ul li a{
	color:black;
    background-color:white;
    border-radius:15px 15px 15px 15px;
    text-decoration: none; display:block; width:100px;
    height:25px; text-align:center;
    padding-top:5px;
}

.g1{
    font-size:50px; color:#FBF7D5;
    animation:type 3s steps(22);
    overflow:hidden; white-space:nowrap;
}

body{
	
	background-color:#101820FF;

}
.g2{ font-size:70px; color:red; 
} 
.g3{ font-size:70px; color:#FBF7D5;  
}
.g4{ font-size:70px; color:red; 
}
.g5{ font-size:70px; color:#FBF7D5;
    animation:type 3s steps(22);
    overflow:hidden; white-space:nowrap;
}
	@keyframes type{
		0%{
			width:0ch;
		}
		100%{
			width:22ch;
		}
	}
header{
	margin-top:120px;
	margin-left:120px;
}
.p5{
	text-align:right;
	font-size:470px;
    margin-top:-600px;
    margin-left:980px;
    color:red;
    transform:rotateY(180deg)
}
/*Below code belongs to portfolio.html*/

.j1{
	background-image:url(sun.JPG);
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j2{
	background-image:url(set.JPG);
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j4{
    background-image:url(itachi.JPG);
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j5{
	background-image:url(ghost.JPG);
	background-size:100%;
    width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j6{
	text-align:center;
	font-size:20px;
	color:#FBF7D5;
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j7{
	grid-template-columns: auto auto auto auto;
	display:grid;
	flex-wrap: wrap;
	grid-column-gap:10px;
	grid-row-gap:10px;
	float:left;
}
/*Below code belongs to cv.html*/
.i1{
	grid-area:myArea;
}
.container{
	display:grid;
	grid-template-areas:'myArea myArea myArea';
	grid-template-rows: 225px 275px;
    grid-gap:10px;
    background-color:#101820FF;
    height:100%;
    width:101%;
    margin-left:-8px;
}
.container > div{
	background-color:#101820FF;
	padding:20px 5px;
	font-size:30px;
	color:#FBF7D5;
	border:10px solid #990011FF;
}
.photo{
	background-image:url(photo.jpg);
	background-size:100%;
	height:130px;
	width:200px;
}
/*Below code belongs to contact.html*/

.r1{
	color:#FBF7D5;
	font-size:30px;
	padding-left:10px;

}
.r2{
	color:#FBF7D5;
	font-size:22px;
	padding-left:10px;
}
form{
	width:650px;
	color:#FBF7D5;
	padding:10px;
	border:10px solid #990011FF;
}
.section{
	border:10px solid #990011FF;
	width:650px;
}
.grid{
	display:grid;
	grid-template-columns:auto auto;
	grid-template-rows:500px;
    grid-gap:10px;
    background-color:#101820FF;
    height:100%;
    width:100%;
    justify-content:center;
}
@media screen and(max-width:500px){
	body{
		background:red;
	}
}