nav{ margin-top:-10px; width:1370px; 
	margin-left:-8px; background-color:#990011FF; position:fixed;
}
nav ul{margin-top:-55px;}
nav ul li{
	list-style:none; float:right;margin:0.5%; padding:1%;   
}
nav ul li a{           /* -> <code for menu buttom>*/
	color:black;
    background-color:white;
    border-radius:15px 15px 15px 15px;
    text-decoration: none; display:block; width:100px;
    height:25px; text-align:center;
    padding-top:5px;
}

.g1{                 /*-> code to show on which page the user is*/
    font-size:50px; color:#FBF7D5; 
    animation:type 3s steps(22);
    overflow:hidden; white-space:nowrap;
}

body{               
	
	background-color:#101820FF;
}
/*Below css belongs to home.html*/

.g2{ font-size:70px; color:red;      /*-> code for adjusting containt*/     
} 
.g3{ font-size:70px; color:#FBF7D5;          
}
.g5{ font-size:70px; color:#FBF7D5;
    animation:type 3s steps(22);
    overflow:hidden; white-space:nowrap;
}
	@keyframes type{            /*->code for aimation*/
		0%{
			width:0ch;
		}
		100%{
			width:22ch;
		}
	}
header{
	margin-top:7px;
	margin-left:120px;
	padding-top:200px;
}

/*Below code belongs to portfolio.html*/

.j1{
	background-image:url(sun.JPG);   
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j2{
	background-image:url(set.JPG);    
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j4{
    background-image:url(itachi.JPG);   
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j5{
	background-image:url(ghost.JPG);   
	background-size:100%;
    width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j6{
	text-align:center;
	font-size:20px;
	color:#FBF7D5;
	background-size:100%;
	width:315px;
	height:245px;
	border:5px solid #990011FF;
}
.j7{                                                  /*-> adjusting layout using grid*/
	grid-template-columns: auto auto auto auto;
	display:grid;
	flex-wrap: wrap;
	grid-column-gap:10px;
	grid-row-gap:10px;
	float:left;
	padding-top:75px;
}
/*Below code belongs to cv.html*/
.i1{
	grid-area:myArea;
}
.container{                                               /*-> adjusting layout using grid*/
	display:grid;
	grid-template-areas:'myArea myArea myArea';
	grid-template-rows: 225px 275px;
    grid-gap:10px;
    background-color:#101820FF;
    height:100%;
    width:101%;
    margin-left:-8px;
    padding-top:70px;
}
.container > div{
	background-color:#101820FF;
	font-size:30px;
	color:#FBF7D5;
	border:10px solid #990011FF;
    padding:5px;
}
.photo{
	background-image:url(photo.jpg);      
	background-size:100%;
	height:130px;
	width:200px;
}
/*Below code belongs to contact.html*/

.r1{
	color:#FBF7D5;
	font-size:30px;
	padding-left:10px;

}
.r2{
	color:#FBF7D5;
	font-size:22px;
	padding-left:10px;
}
form{                              
	width:650px;
	color:#FBF7D5;
	padding:10px;
	border:10px solid #990011FF;
}
.section{
	border:10px solid #990011FF;
	width:650px;
}
.grid{                                    /*-> adjusting layout using grid*/
	display:grid;
	grid-template-columns:auto auto;
	grid-template-rows:500px;
    grid-gap:10px;
    background-color:#101820FF;
    height:100%;
    width:100%;
    justify-content:center;
    padding-top:70px;
}
 /*Below code belongs to report.html*/
 .paragraph{
 	color:#FBF7D5;
 	font-size:20px;
 	width:101%;
 	display:grid;
 	grid-gap:10px;
 	padding-top:70px;
 	margin-left:-8px;
 }
 .learning{
 	border:10px solid #990011FF;
 	padding:5px;
 }
 .website{
 	border:10px solid #990011FF;
 	padding:5px;
 }
 .progress{
 	border:10px solid #990011FF;
 	padding:5px;
 	font-size:30px;
}
 .image1{
 	background-image:url(cv2.png);    
	background-size:100%;
	width:643px;
	height:270px;
	border:5px solid #990011FF;
 }
 .image2{
 	background-image:url(cv1.png);    
	background-size:100%;
	width:643px;
	height:270px;
	border:5px solid #990011FF;
 }
 .image3{
 	background-image:url(report1.png);    
	background-size:100%;
	width:643px;
	height:270px;
	border:5px solid #990011FF;
 }
 .image4{
 	background-image:url(report2.png);    
	background-size:100%;
	width:643px;
	height:270px;
	border:5px solid #990011FF;
 }
 .image{
 	grid-template-columns: auto auto;
	display:grid;
	flex-wrap: wrap;
	grid-column-gap:10px;
	grid-row-gap:10px;
	float:left;

 }
@media screen and (max-width:500px){           /*->code for responsive view*/
	header{
		margin-left:0px;
		margin-top:10px;
	}
	.g2{font-size:30px;           /*-> code for adjusting containt*/     
    } 
    .g3{font-size:30px;        
    }
    .g5{font-size:30px; 
    }
 /*below code are for portofolio responsive view*/

    .j7{
    	display:grid;
    	grid-template-columns:none;
    }
 /*below code are for cv responsive view*/
    .container > div{
    font-size: 18px;
    }
    .container {
    grid-template-areas: 'myArea';
    grid-template-rows: 179px 161px;
    }
} 
